<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Password Reset
        link(href='https://unpkg.com/nes.css@latest/css/nes.min.css' rel='stylesheet')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
        link(rel="stylesheet", href="/css/login.css")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Press+Start+2P&display=swap' rel='stylesheet')
    body
        .wrapper
            .loginContainer
                - status = statusMessage
                if status == "Broken link"
                    h2 This link is either invalid or expired
                    p
                        a(href="/") Go back
                else
                    div Hi, #{name} 
                    p Please enter your new password
                    br
                    form(method="post")
                        input(type="password", name="password", placeholder="Password", required="" class="nes-input")
                        input(type="password", name="confirmPassword", placeholder="Confirm password", required="" class="nes-input") 
                        input(type="submit", value="Send" class="nes-button")
                    p
                        a(href="/") Go back
                    p #{statusMessage}
        script.
            if (window.history.replaceState)
                window.history.replaceState(null, null, window.location.href)