
body {
    background-color: #363738;
    font-family: 'Anonymous Pro', monospace;
    cursor: auto;
}

h1 {
    color: #dedede;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.loginContainer {
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border: 4px dashed #dedede;
    background-color: #212529;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    color: #dedede;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px dashed #dedede;
    background-color: #f2f2f2;
}

input[type="submit"] {
    color: black;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
}